<div id="submit-notify-modal" class="modal fade dialog-modal">
	<div class="modal-dialog modal-confirm dialog-modal-confirm">
		<div class="modal-content dialog-modal-content">
			<div class="modal-header dialog-modal-header">
				<div class="icon-box">
					<i class="material-icons" id="submit-notify-modal-icons"></i>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center dialog-modal-body">
				<h4></h4>	
				<p></p>
				<!--
				<button class="btn btn-success" data-dismiss="modal"><span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i></button>
				-->
			</div>
		</div>
	</div>
</div> 