<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" media="screen" href = "{% static 'templates/review/css/bootstrap.min.css' %}">
<link rel="stylesheet" media="screen" href = "{% static 'templates/review/css/custom.css' %}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>

<title>Home</title>

</head>
<body>
{% include "review/navbar.html" %}

<div class="sentence">
	<div class="row" style="margin-top:30px" id="action-button-container" hidden> 	
	<div class="col-md-2 col-xs-6 col-sm-4" id="submit-div"> 		
		<button type="button" class="btn btn-success btn-md text-center submit-btn btn-block"><b>Submit</b></button>
	</div>
	<div class="col-md-2 col-xs-6 col-sm-4" id="reset-div">
		<button type="button" class="btn btn-danger btn-md text-center reset-btn btn-block"><b>Reset</b></button>
	</div>
	</div>
</div>
{% include "review/dialog.html" %}

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">
		
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="modalLabel">Tagset</h4>
		</div>
		<div class="modal-body tagset">
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xs-offset-0">
				<ul class="list-group">
					<li class="list-group-item tagset-item" id="CC">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Coordinating Conjunction">CC</span> 
						<span class="tagset-explain">coordinating conjunction</span>
					</li>
					<li class="list-group-item tagset-item" id="CD">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Cardinal Number">CD</span> 
						<span class="tagset-explain">cardinal number</span>
					</li>
					<li class="list-group-item tagset-item" id="OD">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Ordinal Number">OD</span> 
						<span class="tagset-explain">ordinal number</span>
					</li>
					<li class="list-group-item tagset-item" id="DT">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Determiner / Article">DT</span> 
						<span class="tagset-explain">determiner / article</span>
					</li>
					<li class="list-group-item tagset-item" id="FW">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Foreign World">FW</span> 
						<span class="tagset-explain">foreign word</span>
					</li>
					<li class="list-group-item tagset-item" id="IN">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Preposition">IN</span> 
						<span class="tagset-explain">preposition</span>
					</li>
					<li class="list-group-item tagset-item" id="JJ">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Adjective">JJ</span> 
						<span class="tagset-explain">adjective</span>
					</li>
					<li class="list-group-item tagset-item" id="MD">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Modal and Auxiliary Verb">MD</span> 
						<span class="tagset-explain">modal and auxiliary verb</span>
					</li>
					<li class="list-group-item tagset-item" id="NEG">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Negation">NEG</span> 
						<span class="tagset-explain">negation</span>
					</li>
					<li class="list-group-item tagset-item" id="NN">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Noun">NN</span> 
						<span class="tagset-explain">noun</span>
					</li>
					<li class="list-group-item tagset-item" id="WH">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Question">WH</span> 
						<span class="tagset-explain">question</span>
					</li>
					<li class="list-group-item tagset-item" id="X">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Unknown">X</span>
						<span class="tagset-explain">unknown</span>
					</li>
					<li class="list-group-item tagset-item" id="Z">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Punctuation">Z</span>
						<span class="tagset-explain">punctuation</span>
					</li>
					<li class="list-group-item tagset-item" id="AT">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Mention">AT</span> 
						<span class="tagset-explain">mention</span>
					</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xs-offset-0">
				<ul class="list-group">
					<li class="list-group-item tagset-item" id="NNP">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Proper Noun">NNP</span> 
						<span class="tagset-explain">proper noun</span>
					</li>
					<li class="list-group-item tagset-item" id="NND">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Classifier, Partitive and Measurement Noun">NND</span> 
						<span class="tagset-explain">classifier, partitive,  measurement noun
					</li>
					<li class="list-group-item tagset-item" id="PR">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Demonstrative Pronoun">PR</span> 
						<span class="tagset-explain">demonstrative pronoun</span>
					</li>
					<li class="list-group-item tagset-item" id="PRP">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Personal Pronoun">PRP</span> 
						<span class="tagset-explain">personal pronoun</span>
					</li>
					<li class="list-group-item tagset-item" id="RB">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Adverb">RB</span> 
						<span class="tagset-explain">adverb</span>
					</li>
					<li class="list-group-item tagset-item" id="RP">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Particle">RP</span> 
						<span class="tagset-explain">particle</span>
					</li>
					<li class="list-group-item tagset-item" id="SC">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Subordinating Conjuction">SC</span> 
						<span class="tagset-explain">subordinating conjunction</span>
					</li>
					<li class="list-group-item tagset-item" id="SYM">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Symbol">SYM</span> 
						<span class="tagset-explain">symbol</span>
					</li>
					<li class="list-group-item tagset-item" id="UH">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Interjection">UH</span> 
						<span class="tagset-explain">interjection</span>
					</li>
					<li class="list-group-item tagset-item" id="VB">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Verb">VB</span> 
						<span class="tagset-explain">verb</span>
					</li>
					<li class="list-group-item tagset-item" id="DISC">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Discourse Maker">DISC</span> 
						<span class="tagset-explain">discourse maker</span>
					</li>
					<li class="list-group-item tagset-item" id="HASH">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Hashtag">HASH</span> 
						<span class="tagset-explain">hastag</span>
					</li>
					<li class="list-group-item tagset-item" id="URL">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="URL">URL</span> 
						<span class="tagset-explain">uniform resource locator</span>
					</li>
					<li class="list-group-item tagset-item" id="EMO">
						<span class="label label-default" data-toggle="tooltip" data-placement="right" title="Emoticon">EMO</span> 
						<span class="tagset-explain">emoticon</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="row word-control">
				<div class="col-xs-4 col-md-4" style="padding-right: 0px;">
					<button type="button" class="btn btn-default btn-xs text-center" id="merge-left-btn">
						<span class="glyphicon glyphicon-chevron-left"></span><br>Merge to left
					</button>
				</div>
				<div class="col-xs-4 col-md-4">
					<button type="button" class="btn btn-default btn-xs text-center" id="split-btn">
						<span class="glyphicon glyphicon-resize-horizontal"></span><br>Split
					</button>
				</div>
				<div class="col-xs-4 col-md-4" style="padding-left: 0px;">
					<button type="button" class="btn btn-default btn-xs text-center" id="merge-right-btn">
						<span class="glyphicon glyphicon-chevron-right"></span><br>Merge to right
					</button>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	</div>
	
<script src="{% static 'templates/review/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'templates/review/js/jqueryui/jquery-ui.js' %}"></script>
<script src="{% static 'templates/review/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'templates/review/js/csrf-cookie.js' %}" ></script>
<script src="{% static 'templates/review/js/main.js' %}"></script>

</body>