{% extends "dashboard/base.html" %}
{% block title %} {{ title_page }} {% endblock %}

{% load widget_tweaks %}

{% load static %}

{% block footer_asset %}
    <!-- Data Tables-->
    <script type="text/javascript" src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <!-- iCheck -->
    <script type="text/javascript" src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
    <link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">

    <!-- Switchery -->
	<script type="text/javascript" src="{% static "vendors/switchery/dist/switchery.min.js" %}"></script>
	<link href="{% static "vendors/switchery/dist/switchery.min.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "templates/dashboard/js/confirm.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="x_panel" style="height: auto;">
            <div class="x_title">
                <h2>
                    {{ title_page }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: none;">
                <div class="col-lg-12 col-md-12">
                    <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-body">
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Project Name
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.project_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Follow
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.follow }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Track
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.track }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Language
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.language }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Location
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.location }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Worker Account
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.account }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label col-xs-2">
                                Category
                            </label>
                            <div class="col-md-9 col-xs-9">
                                {{ form.category }}
                            </div>
                        </div>
                      </div>
                        <div class="form-actions pal">
                            <div class="form-group mbn">
                                <div class="col-md-2 col-xs-2 col-md-offset-10  col-xs-offset-10 right">
                                    <button type="submit" id="create_jobs_submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="animated col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel twitter_data" id="{{ collection_name }}">
            <div class="x_title">
                <h2>
                    Twitter Data
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-lg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="table_wdelete">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title" width="85%">Tweet</th>
                                    <th class="column-title" width="15%">Sentiment</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if tweet_data|length > 0 %}                            
                                {% for tweet in tweet_data %}
                                    <tr id="{{ tweet.id }}">
                                        <td>{{ tweet.text }}</td>
                                        {% if tweet.sentiment == "positive" %}
                                            <td class="text-center"><span class="label label-primary">Positive</span></td>
                                        {% elif tweet.sentiment == "neutral" %}
                                            <td class="text-center"><span class="label label-success">Neutral</span></td>
                                        {% elif tweet.sentiment == "negative" %}
                                            <td class="text-center"><span class="label label-danger">Negative</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="2">No data available</td>
                                    
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animated col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Sentiment Analysis
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>Positive</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ sentiment.3  }}%;" id="progress_positive">
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span id="count_positive">{{ sentiment.0 }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>Neutral</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ sentiment.4 }}%;" id="progress_neutral">
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span id="count_neutral">{{ sentiment.1 }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>Negative</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ sentiment.5 }}%;" id="progress_negative">
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span id="count_negative">{{ sentiment.2 }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}