{% extends "dashboard/base.html" %}

{% block content %}
    <div class="row">
			  <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12 tile_stats_count">
				  <div class="tile-stats">
					  <div class="icon">
						<i class="fa fa-comments-o"></i>
					  </div>
					  <div class="count" id="reviewed-count">0</div>
					  <h3>Reviewed</h3>
					  <p>Total sentences reviewed</p>
				  </div>
                  <div class="tile-stats">
					  <div class="count" style="font-size: 24px;">MODEL NAME</div>
					  <h3 id="reviewed-model-name">None</h3>
                      <p id="reviewed-model-version">None</p>
				  </div>
			  </div>
			  <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
				  <div class="x_panel">
					  <div class="x_title">
					    <h2>Overall Accuracy</h2>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content" style="width:100%">
						<canvas id="accuracy-total-chart" style="width: 100%"></canvas>
					  </div>
				  </div>
			  </div>
			  <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
				  <div class="x_panel">
					  <div class="x_title">
					    <h2>IOBES accuracy</h2>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content" style="width:100%">
						<canvas id="accuracy-iobes-chart" style="width: 100%"></canvas>
					  </div>
				  </div>
			  </div>
			  <div class="animated flipInX col-lg-3 col-md-3 col-sm-6 col-xs-12">
				  <div class="x_panel">
					  <div class="x_title">
					    <h2>POS Accuracy</h2>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content" style="width:100%">
						<canvas id="accuracy-pos-chart" style="width: 100%"></canvas>
					  </div>
				  </div>
			  </div>
            </div>
            {% if form.errors %}
                <!-- Error messaging -->
                <div id="errors">
                    <div class="inner">
                        <p>There were some errors in the information you entered. Please correct the following:</p>
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Error messaging -->
            {% endif %}

			<div class="row" style="margin-top:20px">
				<div class="x_panel">
					<div class="x_title">
					    <h2>IOBES accuracy</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
					<div class="col-lg-2">

						<select class="select2_single form-control" tabindex="-1" id="select-category">
                            <option value="all" selected>All</option>
                            <option value="completed">Completed</option>
                            <option value="pending">Pending</option>
                        </select>
					</div>
					<div class="col-lg-10">
						<div class="input-group">
						<input class="form-control" placeholder="Cari berdasarkan kata" type="text" id="search-bar">
						<span class="input-group-btn">
						<button type="button" class="btn btn-primary" onclick="onSearchClick()">Cari</button>
						</span>
						</div>
					</div>
					<div id="container search-result">
						<table class="table table-striped" id="table-results" hidden>
						<thead>
						<tr>
							<th style="width:3%">#</th>
							<th style="width:72%">Sentence</th>
							<th style="width:10%">Status</th>
							<th style="width:10%">Action</th>
						</tr>
						</thead>
						<tbody>

						</tbody>
						</table>
						 <ul class="pagination" id="page-indicator">
						    <li id="prev-btn" style="display:none;"><a onClick="onPaginationChange('previous')">Previous</a></li>
							<li id="next-btn" style="display:none;"><a onClick="onPaginationChange('next')">Next</a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
{% endblock %}